Django==5.2.10
psycopg-binary==3.3.2
python-decouple==3.8
django-cors-headers==4.9.0
pytest-django==4.10.0
pytest-cov==6.1.0
pytest-mock==3.14.0
iot-hub-shared @ git+https://github.com/IoT-Hub-Bravo/python-service-libs.git